footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorFooterNav;
    width: 100%;
    height: 100px;
    color: white;
    >p{
        font-size: 20px;
        text-align: center;
        opacity: 50%;
        >a{
            font-weight: bold;
            color: white;
        }
    }
}

