//paleta de colores
$colorBody: #e7ebca;
$colorFooterNav: #566054;
$colorDivConvertidor: #C1C5AE;
$colorResultadoValor: #397b52;
$colorBoton: #be2af2;

//fuentes
$fuenteTitulo: 'Asset', serif;
$colorTitulo: #C1C5AE;
$fuenteTextos: "Roboto Flex", sans-serif;
$fuentesResultado: 'IBM Plex Serif', serif;
