//paleta de colores
$colorBody: #e7ebca;
$colorFooterNav: #566054;
$colorDivConvertidor: #c1c5ae;
$colorResultadoValor: #397b52;
$colorBoton: #4db86a;
$colorBotonHover: #367c49;
$colorLinkHover :#000000;

//fuentes
$fuenteTitulo: "Asset", serif;
$colorTitulo: #c1c5ae;
$fuenteTextos: "Roboto Flex", sans-serif;
$fuentesResultado: "Courier Prime", monospace;
