.resultadoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 10px;
}

.resultado {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;

  > .resultadoExplicado {
    display: flex;
    position: relative;
    width: 100%;

    justify-content: space-between;
    > p {
      font-weight: bold;
      opacity: 0.4;
      font-family: $fuentesResultado;
    }
  }
}

.resultadoValor {
  overflow: hidden;
  text-wrap: wrap;
  text-overflow: ellipsis;
  font-size: 35px;
  color: $colorResultadoValor;
  font-family: $fuentesResultado;
  overflow-wrap: normal;
  >p{
    display: inline;
    font-family: $fuentesResultado;
  }
}

.spinner-border {
  color: $colorResultadoValor;
}

.encabezadoRespuesta {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.botonCopiar {
  width: 100%;
  margin-left: auto;
  margin: 10px;
}
